body{
    background-color: #0f172a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #020617;
}

.hero{
    min-height: 100vh;
    background:#1e293b;
}

.manga-card{
    background-color: #1e293b;
    color: white;
    border: none;
    transition: 0.3s;
}

.manga-card:hover{
    transform: translateY(-10px);
}

.feature-box{
    background-color: #1e293b;
    padding: 40px;
    border-radius: 10px;
}

.bg-dark-section{
    background-color: #111827;
}

.form-control{
    background-color: #1e293b;
    border: none;
    color: white;
}

footer{
    background-color: black;
}

.light-mode{
    background-color: white;
    color: black;
}

.light-mode .navbar{
    background-color: white;
}

.light-mode .navbar-brand {
    color: black !important;
}

.light-mode .nav-link{
    color: black !important;
}

.light-mode .hero h1,
.light-mode .hero p {
    color: black !important;
}


.light-mode .manga-card,
.light-mode .feature-box,
.light-mode .form-control,
.light-mode .hero{
    background-color: #f1f1f1;
    color: black;
}

.light-mode .bg-dark-section{
    background-color: #dddddd;
}

.light-mode footer{
    background-color: #cccccc;
}